@model Riviera_Business.Models.TbProveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncargadoCompras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncargadoCompras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GerenteCompras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GerenteCompras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProveedor">Editar</a> |
    <a asp-action="Index">Lista Proveedores</a>
</div>
