@model IEnumerable<Riviera_Business.Models.TbProveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Proveedores</h1>

<p>
    <a asp-action="Create">Agregar mas Proveedores</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncargadoCompras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GerenteCompras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncargadoCompras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GerenteCompras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProveedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProveedor">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
