@model Riviera_Business.Models.TbControl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbControl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompraVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompraVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoFacturaArv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoFacturaArv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFacturaToma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFacturaToma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolioFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolioFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagadaCobrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagadaCobrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoBoFacturarSat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoBoFacturarSat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoBoLeyAntiLavado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoBoLeyAntiLavado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPactado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPactado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debiendo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debiendo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeyAntilavado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeyAntilavado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BajaCambProp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BajaCambProp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstanciaFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstanciaFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurpPf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurpPf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobantesPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobantesPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnticipoSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnticipoSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anticipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anticipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsesorVentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsesorVentaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBancoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBancoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMetodoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMetodoPagoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMovimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
