@model Riviera_Business.Models.CGuiaAutometricaEbc

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles </h1>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.Toma)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Toma)
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Venta)
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.GuiaAutometricaEbc)
        </dt>
        <dd class="col-sm-9 bg-white">
            @if (Model.GuiaAutometricaEbc == 1)
            {
                <label value="@Model.GuiaAutometricaEbc">Autometrica</label>
            }
            else
            {
                <label value="@Model.GuiaAutometricaEbc">EBC</label>
            }
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.IdVersionNavigation)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdVersionNavigation.VersionCarro)
        </dd>
        <dt class = "col-sm-3 bg-dark">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Regresar</a>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdGuiaAutometrica">Editar</a>

</div>
