@model IEnumerable<Riviera_Business.Models.CTipoGasto>

@{
    ViewData["Title"] = "Index";
}

<h1  class="text-center">Tipo de Gasto</h1>

<p>
    <a class="btn-success" asp-action="Create">Agregar Tipo Gasto</a>
</p>
<p> Tipo de de gasstos que puede tener la empresa</p>
<table class="table" style="width:100%;">
    <thead class="bg-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoGasto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoGasto">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
