@model Riviera_Business.Models.TbDatosPersona

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<p>Si la persona es Fisica No es necesario haber llenado los datos a partir de "Fecha Poder Notorial" </p>
<div>
    <h4>Datos Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActividadUOcupacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActividadUOcupacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoInterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoExterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoExterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FisicaOMoral)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FisicaOMoral == 1)
            {
                <label value="@Model.FisicaOMoral">Persona</label>
            }
            else
            {
                <label value="@Model.FisicaOMoral">Representante</label>
            } 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPoderNotorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPoderNotorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoPoderNotorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoPoderNotorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoridadEmite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoridadEmite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPmDpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPmDpNavigation.DenominacionRazonSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDatosPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
