@model Riviera_Business.Models.TbDatosPersonaMoral

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Datos Persona Moral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenominacionRazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenominacionRazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConstitucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConstitucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoActa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoActa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistroPublicoComercio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistroPublicoComercio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoRegistroPublicoComercio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoRegistroPublicoComercio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActividadGiroMercantilObjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActividadGiroMercantilObjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumInterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumExterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumExterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.IdDatosPm">Edit</a> |
    <a asp-action="Index">Lista de Personas Morales</a>
</div>
