@model Riviera_Business.Models.TbExportacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbExportacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cfdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cfdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedimientoImpOk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedimientoImpOk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CfdiFpA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CfdiFpA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPromesaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPromesaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaPoderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaPoderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entregada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entregada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacionesReclamos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacionesReclamos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalidaAgencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalidaAgencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.Curp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdExportacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
