@model Riviera_Business.Models.TbConta

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Apartado Conta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoAbono)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CargoAbono == 1)
            {
                <label value="@Model.CargoAbono">Cargo</label>
            }
            else
            {
                <label value="@Model.CargoAbono">Abono</label>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTramite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTramite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBancoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBancoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConta">Editar</a> |
    <a asp-action="Index">Lista</a>
</div>
