@model Riviera_Business.Models.CuentasPendientesCP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.CuentasCobrarPagarOtras)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.CuentasCobrarPagarOtras)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.Folio)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Folio)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.Anticipo)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Anticipo)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.IdCarroNavigation)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdCarroNavigation.IdCarros)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.IdConceptoNavigation)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdConceptoNavigation.DescripcionConcepto)
        </dd>
        <dt class = "col-sm-2 bg-dark">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-9 bg-white">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info mr-2">Regresar</a>
    <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model.IdCuentaPendiente">Editar</a> |

</div>
