@model IEnumerable<Riviera_Business.Models.CuentasPendientesCP>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Cuentas en general</h1>

<style>
    .CuentasPP {
        background-color: orangered;
    }

    .CuentasPC {
        background-color: forestgreen;
    }

    .OtrasC {
        background-color: cornflowerblue;
    }
</style>

<p>
    <a class="btn btn-success" asp-action="CuentasPagar">Llenar cuentas por pagar</a>
    <a class="btn btn-primary" asp-action="CuentasCobrar">Llenar cuentas por cobrar</a>
    <a class="btn btn-secondary" asp-action="CuentasPagar">Llenar otras cuentas</a>
</p>
<table border="0" cellspacing="5" cellpadding="5" class="w-100">
    <tbody class="bg-secondary">
        <tr>
            <td>Fecha Inicial:</td>
            <td><input type="text" id="min" name="min" class="form-control"></td>
        </tr>
        <tr>
            <td>Fecha Final:</td>
            <td><input type="text" id="max" name="max" class="form-control"></td>
        </tr>
    </tbody>
</table>
<table class="table" id="dataTable1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CuentasCobrarPagarOtras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anticipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                Numero de Serie
            </th>
            <th>
                Version
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                Concepto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CuentasCobrarPagarOtras == 1)
                    {
                        <label value="@item.CuentasCobrarPagarOtras" class="">Cuenta por Cobrar</label>
                    }
                    @if (item.CuentasCobrarPagarOtras == 2)
                    {
                        <label value="@item.CuentasCobrarPagarOtras" class="">Cuenta por Pagar</label>
                    }
                    @if (item.CuentasCobrarPagarOtras == 3)
                    {
                        <label value="@item.CuentasCobrarPagarOtras" class="">Otras Cuentas </label>
                    }

                    @Html.DisplayFor(modelItem => item.CuentasCobrarPagarOtras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Folio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anticipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarroNavigation.NoSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.VersionCarro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.ModeloCarro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarroNavigation.IdVersionNavigation.IdModeloNavigation.IdMarcaNavigation.NombreMarca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdConceptoNavigation.DescripcionConcepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCuentaPendiente" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.IdCuentaPendiente" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCuentaPendiente">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = $("#min").val();
            min = min.split("/");
            min = new Date(min[2], min[1], min[0]);

            var max = $("#max").val();
            max = max.split("/");
            max = new Date(max[2], max[1], max[0]);

            var age = data[2].split(" ")[0];
            age = age.split("/");
            age = new Date(age[2], age[1], age[0]);

            if ((isNaN(min.getTime()) && isNaN(max.getTime())) ||
                (isNaN(min.getTime()) && age.getTime() <= max.getTime()) ||
                (min.getTime() <= age.getTime() && isNaN(max.getTime())) ||
                (min.getTime() <= age.getTime() && age.getTime() <= max.getTime())) {
                return true;
            }
            return false;
        }
    );


    $(document).ready(function () {
        var table = $("#dataTable1").DataTable({
            scrollX: "true"
        });
        $('#min, #max').keyup(function () {
            table.draw();
        });
    });

</script>